h2, h3 {
    margin: 0 0 8px 0;
}

main {
    margin: 1.5cm auto;
    max-width: 800px;
    border: 2px solid #ccc;
    border-radius: 16px;
    padding: 1cm;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.object {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    margin: 1cm 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.table {
    display: block;
    width: 100%;
}

.table input {
    display: block;
    width: calc(100% - 1em);
    margin: 0.5em 0;
    font-size: 16pt;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    display: block;
    margin: 1cm auto;
    padding: 0.5em 2em;
    font-size: 16pt;
    border: none;
    border-radius: 8px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
}

textarea {
    width: calc(100% - 2em);
    height: 200px;
    margin: 1cm 0;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14pt;
    background-color: #f9f9f9;
    resize: none;
}